* {
  margin: 0;
}
body {
  background-color: #eae2b7;
  font-family: "Lato", sans-serif;
  color: #003049;
}
.header {
  padding: 10px;
  text-align: center;
  background-color: #fcbf49;
}
.header h2,
.ongoing__class h2,
.next__class h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
.header p {
  font-size: 1.2rem;
}
.header p span {
  font-weight: 700;
}
.greeting,
.ongoing__class,
.next__class,
.time__table {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
.greeting {
  font-size: 1.7rem;
}
.ongoing__class h2,
.next__class h2 {
  color: #d62828;
}
.ongoing__class h3,
.next__class h3 {
  font-size: 4rem;
  margin-top: 15px;
}
.separator {
  background-color: #003049;
  width: 100px;
  height: 6px;
}
hr {
  border-color: rgba(0, 48, 73, 0.1);
}
.today {
  text-align: center;
}
.today h2 {
  font-size: 1.7rem;
  font-weight: 700;
}
.table th,
.table td {
  border: rgba(0, 48, 73, 0.2) solid 1px !important;
}
.table th {
  color: #d62828;
}
.table td {
  color: #003049;
}
.table td:nth-child(1) {
  font-weight: 700;
}
.footer {
  text-align: center;
  background-color: #fcbf49;
  padding: 10px;
  margin-top: 30px;
}
.footer p {
  margin-bottom: 0;
}
.footer p a {
  text-decoration: none;
  color: #003049;
  font-weight: 700;
}
.today__time__table p {
  text-align: center;
  font-size: 1rem;
}
.today__time__table p span {
  padding: 3px 10px;
  border-radius: 40px;
  background-color: #fcbf49;
}
.today__time__table .myImage {
  text-align: center;
}
.today__time__table img {
  max-width: 100%;
  height: auto;
}
.timer {
  display: flex;
}
.timer div {
  margin-right: 20px;
  text-align: center;
}
.timer div h5 {
  color: #d62828;
}
.timer p {
  font-size: 1.2rem;
  margin-top: 15px;
}
