* {
  margin: 0;
}
body {
  background-color: #eae2b7;
  font-family: "Lato", sans-serif;
  color: #003049;
}
.header {
  padding: 10px;
  text-align: center;
  background-color: #fcbf49;
}
.header h2,
.ongoing__class h2,
.next__class h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
.header p {
  font-size: 1.2rem;
}
.header p span {
  font-weight: 700;
}
.greeting,
.ongoing__class,
.next__class,
.time__table {
  width: 95%;
  margin: 0 auto;
}
.greeting {
  font-size: 1.7rem;
}
.ongoing__class h2,
.next__class h2 {
  color: #d62828;
}
.ongoing__class h3,
.next__class h3 {
  font-size: 4rem;
}
.separator {
  background-color: #003049;
  width: 100px;
  height: 6px;
}
hr {
  border-color: rgba(0, 48, 73, 0.1);
}
.today {
  text-align: center;
}
.today h2 {
  font-size: 1.7rem;
  font-weight: 700;
}
.today__time__table {
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(61, 41, 41, 0.3);
}
